name: e2e Tests

on:
  deployment_status:
jobs:
  run-e2es:
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Run tests
        uses: cypress-io/github-action@v6
        with:
            config: baseUrl=${{ github.event.deployment_status.environment_url }}